<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start md:hidden">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-circle btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="dropdown-content menu z-1 mt-3 w-52 menu-sm rounded-box bg-base-100 p-2 shadow"
      >
        @if (!auth.isLoggedIn()) {
          <li routerLink="/login"><a>Login</a></li>
          <li><a routerLink="/sign-up">Sign Up</a></li>
        }

        @if (auth.isLoggedIn()) {
          <li routerLink="/messages"><a>Messages</a></li>
          <li><a routerLink="/settings">Settings</a></li>
        }

        <li><a>Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center md:navbar-start">
    <a routerLink="/" class="text-2xl">Sarhne</a>
  </div>
  <div class="navbar-end">
    <ul tabindex="-1" class="menu menu-horizontal hidden bg-base-100 md:flex">
      @if (!auth.isLoggedIn()) {
        <li routerLink="/login"><a>Login</a></li>
        <li><a routerLink="/sign-up">Sign Up</a></li>
      }
      @if (auth.isLoggedIn()) {
        <li routerLink="/profile"><a>Profile</a></li>
        <li routerLink="/messages"><a>Messages</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      }

      <li><a>Contact Us</a></li>
    </ul>
    <div *auth class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn avatar btn-circle btn-ghost">
        <div class="w-10 rounded-full">
          <img
            alt="profile image"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="dropdown-content menu z-1 mt-3 w-52 menu-sm rounded-box bg-base-100 p-2 shadow"
        appCloseDropdown
      >
        <li>
          <a routerLink="/profile"> Profile </a>
        </li>
        <li routerLink="/messages"><a>Messages</a></li>
        <li><a routerLink="/settings">Settings</a></li>
        <li class="font-semibold text-error" (click)="logout()"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
