<form
  class="flex flex-col items-center gap-5 rounded-box border border-base-300 bg-base-200 p-5 shadow-sm *:w-full"
  (submit)="onSubmit($event)"
>
  <h2 class="text-center text-2xl">Change Password</h2>
  <label class="input">
    <span class="label">Password</span>
    <input [field]="form.password" type="text" />
  </label>

  <label class="input">
    <span class="label"> Confirm</span>
    <input [field]="form.confirmPassword" type="text" />
  </label>

  <button type="submit" class="btn btn-primary" [disabled]="form().invalid()">Save</button>
</form>
